<!DOCTYPE html>
<html lang="en" class="h-100 p-0 m-0">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        a{text-decoration: none; color: initial;transition: 0.5s;}
        a:hover{color: darkgray;}
        html{min-width: 400px;}
    </style>
    <title>Menino_do_TI</title>
</head>
<body class="h-100 p-0 m-0 min-vw-100">
    <div class="container p-1 mx-auto text-center h-100 d-flex flex-column justify-content-between">
        <main>
            <header>
                <div class="container row align-items-center justify-content-around">
                    <h1 class="display-5 col-md-8">Menino_do_TI</h1>
                    <div class="col-md-4 d-flex flex-row gap-3 justify-content-center align-items-center" id="login">
                        <a href="/login">
                            <button class="btn btn-outline-primary">Login</button>
                        </a>
                        <a href="/register">
                            <button class="btn btn-outline-primary">Register</button>
                        </a>
                        <a href="/">
                            <button class="btn btn-outline-primary">Home</button>
                        </a>
                    </div>
                </div>
            </header>
            <div class="container row my-5 mx-auto align-items-start">
                <div class="row align-items-center justify-content-center">
                    <h4 class="display-5 col-sm-8">All Departments Registered</h4>
                    <button class="btn btn-primary col-4" id="new-department" disabled data-bs-toggle="modal" data-bs-target="#DepartmentModal" onclick="updateForm()">Create new Department</button>
                </div>
                <div id="departments" class="row"></div>
            </div>
        </main>
        <div class="modal fade" id="DepartmentModal" tabindex="-1" aria-labelledby="DepartmentModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DepartmentModalTitle">Update Department Info</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div class="col-10 mx-auto text-start">
                            <div class="alert alert-danger text-center" id="alert" role="alert" hidden></div>
                            <form class="p-4 p-md-5 border bg-light rounded">
                                <div class="mb-3">
                                    <input type="text" class="form-control form-control-lg" id="name" name="name" placeholder="name"
                                        required>
                                    <label for="name" class="text-muted m-1">Department name. Ex.: Jornalismo</label>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control form-control-lg" id="supervisor" name="supervisor" placeholder="supervisor"
                                        required>
                                    <label for="supervisor" class="text-muted m-1">Department supervisor EmployeeID. Ex.: 001</label>
                                </div>
                                <div>
                                    <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="email"
                                        required>
                                    <label for="email" class="text-muted m-1">Your email. Ex.: dio_brando@gmail.com</label>
                                </div>
                                <div>
                                    <input type="text" class="form-control form-control-lg" id="code" name="code"
                                        placeholder="code" readonly>
                                    <label for="code" class="text-muted m-1">Department code.</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer" id="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="update-department" onclick="updateDepartment()">Update</button>
                        <button type="button" class="btn btn-danger" id="delete-department" onclick="deleteDepartment()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row border-top border-dark p-2">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/users'">
                        All Users
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/departments'">
                        All Departments
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/docs'">
                        API docs
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-outline-secondary" id="ticket-link" onclick="window.location.href='/ticket'" disabled>
                        New Ticket
                    </button>
                </div>
            </div>
        </footer>
    </div>
    <script src="scripts.js"></script>
    <script>
        axios.get("/all_departments")
            .then(res => {
                const departments = res.data.msg;
                departments.forEach(department => {
                    const card = `
                        <div class="col-sm-6 col-lg-4">
                            <span id="${department.code}" ${getToken() ? `data-bs-toggle="modal" data-bs-target="#DepartmentModal" onclick="updateModal(this.id)"`: ""}>
                                <div class="card my-2 p-2 shadow-lg">
                                    <div class="card-body">
                                        <div class="card-title display-5">
                                            ${department.name}
                                        </div>
                                        <div class="card-text">
                                            <p class="lead p-0 m-0">Email: ${department.email}</p>
                                            <p class="lead p-0 m-0">Supervisor EmployeeID: ${department.supervisor}</p>
                                            <p class="lead p-0 m-0">Code: ${department.code}</p>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>`;
                    document.querySelector("#departments").innerHTML += card;
                });
            }).catch((err) => {
                console.log(err.response.data.msg);
            });
        if(getToken() != null) {
            const userName = parseJwt(localStorage.getItem("token_menino_do_ti")).name;
            document.querySelector("#login").innerHTML = `
                <h5 class="lead my-2 mx-3">Olá, ${userName}</h5>
                <a>
                    <button class="btn btn-outline-danger" onclick="deleteToken()">Logout</button>
                </a>
                <a href="/">
                    <button class="btn btn-outline-primary">Home</button>
                </a>
            `;
            document.querySelector("#ticket-link").disabled = false;
            document.querySelector("#new-department").disabled = false;
        }
        const updateModal = (departmentId) => {
            axios.get(`/department/${departmentId}`)
                .then(res => {
                    const department = res.data.msg;
                    document.querySelector("#name").value = department.name;
                    document.querySelector("#supervisor").value = department.supervisor;
                    document.querySelector("#email").value = department.email;
                    document.querySelector("#code").value = department.code;
                    document.querySelector("#code").readOnly = true;
                    document.querySelector("#DepartmentModalTitle").innerHTML = "Update Department Info";
                    document.querySelector("#alert").innerHTML = "";
                    document.querySelector("#alert").hidden = true;
                    document.querySelector("#modal-footer").innerHTML = `
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="update-department" onclick="updateDepartment()">Update</button>
                        <button type="button" class="btn btn-danger" id="delete-department" onclick="deleteDepartment()">Delete</button>
                    `;
                }).catch((err) => {
                    console.log(err.response.data.msg);
                });
        }
        const updateForm = () => {
            document.querySelector("#code").readOnly = false;
            document.querySelector("#name").value = "";
            document.querySelector("#supervisor").value = "";
            document.querySelector("#email").value = "";
            document.querySelector("#code").value = "";
            document.querySelector("#DepartmentModalTitle").innerHTML = "Create New Department";
            document.querySelector("#modal-footer").innerHTML = `
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createDepartment()">Create</button>
            `;
        }
        const createDepartment = async () => {
            const form = document.querySelector('form');
            const formData = new FormData(form);
            const formDataJSON = Object.fromEntries(formData.entries());

            const request = {
                method: "POST",
                url: "/department",
                data: JSON.stringify(formDataJSON),
                headers: {
                    Authorization: `Bearer ${getToken()}`,
                    "Content-type": "application/json; charset=UTF-8"
                }
            };
            axios(request).then(res => {
                window.location.href = "/departments";
            }).catch((err) => {
                console.log(err.response.data.msg);
                if(err.response.data.msg != undefined) {
                    document.querySelector("#alert").innerHTML = err.response.data.msg;
                    document.querySelector("#alert").hidden = false;
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                }
            });
        }
        const updateDepartment = async () => {
            const form = document.querySelector("form");
            const formData = new FormData(form);
            const formDataJSON = Object.fromEntries(formData.entries());

            axios({
                method: "PUT",
                url: `/department/${formDataJSON.code}`,
                data: JSON.stringify(formDataJSON),
                headers: {
                    Authorization: `Bearer ${getToken()}`,
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(res => {
                window.location.href = "/departments";
            }).catch((err) => {
                console.log(err.response.data.msg);
                if(err.response.data.msg != undefined) {
                    document.querySelector("#alert").innerHTML = err.response.data.msg;
                    document.querySelector("#alert").hidden = false;
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                }
            });
        }
        const deleteDepartment = async () => {
            const form = document.querySelector("form");
            const formData = new FormData(form);
            const formDataJSON = Object.fromEntries(formData.entries());
            console.log(formDataJSON);

            axios({
                method: "DELETE",
                url: `/department/${formDataJSON.code}`,
                data: JSON.stringify(formDataJSON),
                headers: {
                    Authorization: `Bearer ${getToken()}`,
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(res => {
                window.location.href = "/departments";
            }).catch((err) => {
                console.log(err.response.data.msg);
            });
        }
    </script>
</body>
</html>