<!DOCTYPE html>
<html lang="en" class="h-100 p-0 m-0">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        a{text-decoration: none; color: initial;transition: 0.5s;}
        a:hover{color: darkgray;}
        html{min-width: 400px;}
    </style>
    <title>Menino_do_TI - New Ticket</title>
</head>
<body class="h-100 p-0 m-0 min-vw-100">
    <div class="container p-1 mx-auto text-center h-100 d-flex flex-column justify-content-between">
        <main>
            <header>
                <div class="container row align-items-center justify-content-around">
                    <h1 class="display-5 col-md-8">Menino_do_TI</h1>
                    <div class="col-md-4 d-flex flex-row gap-3 justify-content-center " id="login">
                        <a>
                            <button class="btn btn-outline-danger" onclick="deleteToken()">Logout</button>
                        </a>
                        <a href="/">
                            <button class="btn btn-outline-primary">Home</button>
                        </a>
                    </div>
                </div>
            </header>
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto text-start my-3">
                <div class="alert alert-danger text-center" id="alert" role="alert" hidden></div>
                <form class="p-4 p-md-5 border bg-light rounded">
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" id="description" name="description" placeholder="description"
                        required>
                        <label for="description" class="text-muted m-1">Description of the issue. Ex.: O wifi caiu.</label>
                    </div>
                    <div class="mb-3">
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" id="department" name="department" required></select>
                        <label for="department" class="text-muted m-1">Origin department. Ex.: Jornalismo</label>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" id="requester" name="requester" placeholder="requester"
                            readonly>
                        <label for="requester" class="text-muted m-1">Whos requesting. Ex.: Peter Parker</label>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" value="Aberto" id="state" name="state" placeholder="state"
                            readonly>
                        <label for="state" class="text-muted m-1">Initial State. Ex.: Aberto</label>
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control form-control-lg" id="code" name="code"
                            placeholder="code" required>
                        <label for="code" class="text-muted m-1">Ticket code. Ex.: 001</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary mt-3">Create new Ticket</button>
                </form>
            </div>
        </main>
        <footer>
            <div class="row border-top border-dark p-2">
                <div class="col-sm-3">
                    <button type="button" id="goto-users" class="btn btn-outline-secondary" onclick="window.location.href='/users'">
                        All Users
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" id="goto-departments" class="btn btn-outline-secondary" onclick="window.location.href='/departments'">
                        All Departments
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" id="goto-docs" class="btn btn-outline-secondary" onclick="window.location.href='/docs'">
                        API docs
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" id="goto-new-ticket" class="btn btn-outline-secondary" id="ticket-link" onclick="window.location.href='/ticket'" disabled>
                        New Ticket
                    </button>
                </div>
            </div>
        </footer>
    </div>
    <script src="scripts.js"></script>
    <script>
        if(getToken() === null) {
            window.location.href = "/";
        }
        const form = document.querySelector('form');
        if (form) {
            form.addEventListener('submit', (evt) => {
                evt.preventDefault();
                evt.stopPropagation();
                createTicket();
            });
        }
        const createTicket = async () => {

            const formData = new FormData(form);
            const formDataJSON = Object.fromEntries(formData.entries());

            const request = {
                method: "POST",
                url: "/ticket",
                data: JSON.stringify(formDataJSON),
                headers: {
                    Authorization: `Bearer ${getToken()}`,
                    "Content-type": "application/json; charset=UTF-8"
                }
            };
            axios(request).then(res => {
                window.location.href = "/";
            }).catch((err) => {
                console.log(err.response.data.msg);
                if(err.response.data.msg != undefined) {
                    document.querySelector("#alert").innerHTML = err.response.data.msg;
                    document.querySelector("#alert").hidden = false;
                }
            });

        }
        const {employeeID} = parseJwt(localStorage.getItem("token_menino_do_ti"));
        document.querySelector("#requester").value = employeeID;
        
        axios.get("/all_departments")
            .then(response => {
                if(response.data.msg.length > 0) {
                    let departmentOptions = document.querySelector("#department");
                    response.data.msg.forEach(department => {
                        console.log(department);
                        departmentOptions.innerHTML += `
                            <option value="${department.code}">${department.name}</option>
                        `;
                    });
                }
            })
            .catch(err => {
                console.log(err);
            })
    </script>
</body>
</html>