<!DOCTYPE html>
<html lang="en" class="h-100 p-0 m-0">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        a{text-decoration: none; color: initial;transition: 0.5s;}
        a:hover{color: darkgray;}
        html{min-width: 400px;}
        .current-user{box-shadow: 0px 0px 30px green;}
    </style>
    <title>Menino_do_TI</title>
</head>
<body class="h-100 p-0 m-0 min-vw-100">
    <div class="container p-1 mx-auto text-center h-100 d-flex flex-column justify-content-between">
        <main>
            <header>
                <div class="container row align-items-center justify-content-around">
                    <h1 class="display-5 col-md-8">Menino_do_TI</h1>
                    <div class="col-md-4 d-flex flex-row gap-3 justify-content-center align-items-center" id="login">
                        <a href="/login">
                            <button class="btn btn-outline-primary">Login</button>
                        </a>
                        <a href="/register">
                            <button class="btn btn-outline-primary">Register</button>
                        </a>
                        <a href="/">
                            <button class="btn btn-outline-primary">Home</button>
                        </a>
                    </div>
                </div>
            </header>
            <div class="container row my-5">
                <h4>All Users Registered</h4>
                <div id="users" class="row"></div>
            </div>
        </main>

        <div class="modal fade" id="UserModal" tabindex="-1" aria-labelledby="UserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="UserModalLabel">Update your info</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div class="col-10 mx-auto text-start">
                            <form class="p-4 p-md-5 border bg-light rounded">
                                <div class="mb-3">
                                    <input type="text" class="form-control form-control-lg" id="employeeID" name="employeeID" placeholder="employeeID"
                                        readonly>
                                    <label for="employeeID" class="text-muted m-1">Your employeeID. Ex.: 001</label>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control form-control-lg" id="name" name="name" placeholder="name"
                                        required>
                                    <label for="name" class="text-muted m-1">Your name. Ex.: Dio Brando</label>
                                </div>
                                <div class="mb-3">
                                    <input type="number" class="form-control form-control-lg" id="phone" name="phone" placeholder="phone"
                                        required>
                                    <label for="phone" class="text-muted m-1">Your phone. Ex.: 40028922</label>
                                </div>
                                <div>
                                    <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="email"
                                        required>
                                    <label for="email" class="text-muted m-1">Your email. Ex.: dio_brando@gmail.com</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="update-user" onclick="updateUser()">Update</button>
                        <button type="button" class="btn btn-danger" id="delete-user" onclick="deleteUser()">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="row border-top border-dark p-2">
                <div class="col-sm-4">
                    <a href="/users">
                        <button type="button" class="btn btn-outline-secondary">
                            All Users
                        </button>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/departments">
                        <button type="button" class="btn btn-outline-secondary">
                            All Departments
                        </button>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/ticket">
                        <button type="button" class="btn btn-outline-secondary">
                            New Ticket
                        </button>
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <script src="scripts.js"></script>
    <script>
        if(getToken() != null) {
            const userName = parseJwt(localStorage.getItem("token_menino_do_ti")).name;
            document.querySelector("#login").innerHTML = `
                <h5 class="lead my-2 mx-3">Olá, ${userName}</h5>
                <a>
                    <button class="btn btn-outline-danger" onclick="deleteToken()">Logout</button>
                </a>
                <a href="/">
                    <button class="btn btn-outline-primary">Home</button>
                </a>
            `;
        }
        axios.get("/all_users")
            .then(res => {
                let currentUserEmployeeID = null;
                if(getToken() != null) {
                    currentUserEmployeeID = parseJwt(localStorage.getItem("token_menino_do_ti")).employeeID;
                }
                const users = res.data.msg;
                users.forEach(user => {
                    const card = `
                        <div class="col-sm-6 col-lg-4">
                            <span id="${user.employeeID}" ${currentUserEmployeeID === user.employeeID ? `data-bs-toggle="modal" data-bs-target="#UserModal" onclick="updateModal(this.id)" class="current-user"`: ""}>
                                <div class="card my-2 p-2 ${currentUserEmployeeID === user.employeeID ? "current-user" : "shadow-lg"}">
                                    <div class="card-body">
                                        <div class="card-title display-5">
                                            ${user.name}
                                        </div>
                                        <div class="card-text">
                                            <p class="lead p-0 m-0">EmployeeID: ${user.employeeID}</p>
                                            <p class="lead p-0 m-0">Email: ${user.email}</p>
                                            <p class="lead p-0 m-0">Phone: ${user.phone}</p>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>`;
                    document.querySelector("#users").innerHTML += card;
                });
            }).catch((err) => {
                console.log(err.response.data.msg);
            });
        const updateModal = (employeeID) => {
            axios.get(`/user/${employeeID}`)
                .then(res => {
                    const currentUser = res.data.msg;
                    document.querySelector("#employeeID").value = currentUser.employeeID;
                    document.querySelector("#name").value = currentUser.name;
                    document.querySelector("#phone").value = currentUser.phone;
                    document.querySelector("#email").value = currentUser.email;
                }).catch((err) => {
                    console.log(err.response.data.msg);
                });
        }
        const updateUser = async () => {
            const form = document.querySelector("form");
            const formData = new FormData(form);
            const formDataJSON = Object.fromEntries(formData.entries());

            axios({
                method: "PUT",
                url: "/user",
                data: JSON.stringify(formDataJSON),
                headers: {
                    Authorization: `Bearer ${getToken()}`,
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(res => {
                deleteToken();
            }).catch((err) => {
                console.log(err.response.data.msg);
            });
        }
        const deleteUser = async () => {
            axios({
                method: "DELETE",
                url: "/user",
                headers: {
                    Authorization: `Bearer ${getToken()}`,
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(res => {
                deleteToken();
            }).catch((err) => {
                console.log(err.response.data.msg);
            });
        }
    </script>
</body>
</html>